.dashboard-main {
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    /* height: calc(100% - 60px); */
}

.edit-page-header {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2dbe60;
    overflow: auto;
}

.header2-item {
    padding: 0px 10px;
}

.select-item {
    display: flex;
    height: 100%;
    align-items: center;
    background-color: #2ab55a;
}

.edit-right-div {
    background-color: rgb(237, 237, 237);
    margin: 10px;
    margin-right: 30px;
    flex: 3;
    height: 100%;
    /* display: flex; */
    border-radius: 5px;
}

.edit-right-layout {
    background-color: white;
    width: 100%;
    padding-bottom: 40px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 6px;
}

.edit-details-head {
    /* width: 100%; */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px rgb(233, 233, 233);
}

.edit-details-head-text {
    font-weight: 400;
    font-size: 20px;
}

.edit-details-edit-text {
    font-size: small;
    color: #2dbe60;
}

.edit-details-name {
    display: flex;
}

.edit-details-data-left {
    margin-top:20px;
    padding-right: 10px;
    flex: 1;
    display: flex;
    justify-content: end;
    color: #707070;
}

.edit-details-data-right {
    margin-top:20px ; 
    flex: 3;
}

.green-bg {
    padding: 2px 5px;
    width: fit-content;
    background-color: #2dbe60;
    border-radius: 20px;
    color: white;
}
