.footer-div {
    background-color: white;
    padding: 50px 0px;
    width: 100%;
    overflow: hidden;
}

.footer-div-top {
    margin: 0px 40px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px lightgray;
}

.footer-left-top a {
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: large;
    padding: 0px 5px;
}

.footer-right-top button {
    background-color: white;
    border: none;
}

.footer-right-top img {
    height: 20px;
}

.footer-div-bottom {
    padding: 15px 40px;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
}

.copyright-link {
    font-size: small;
    text-decoration: none;
    color: #2dbe60;
    cursor: pointer;
}

.copyright-text {
    font-size: small;
    padding-left: 5px;
}

.footer-div-bottom a {
    padding: 0px 5px;
    text-decoration: none;
    color: #545454;
    cursor: pointer;
}

.footer-div-bottom a:hover {
    color: #2dbe60;
}


