body {
    margin: 0px;
    padding: 0px;
    font-family: 'Rubik', sans-serif;
    background-color: #f5f5f5
}

p {
    margin: 0px;
    padding: 0px;
    line-height: 1.8;
}

h2,h3 {
    margin: 0;
}
