.heading-div {
    height: 70px;
}

header {
    margin: 0px;
    padding: 0px;
}

.header-div {
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 90px;
    background-color: white;
}

.header-left-div {
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.payyed-logo {
    height: 70px;
}

.menu-div {
    display: flex;
    align-items: center;
    display: none;
}

.menu-div:hover .hidden-menu {
    display: flex;
    flex-direction: column;
    top: 50px;
    left: 0px;
    opacity: 1;
    width: 100%;
}

.menu-icon {
    width: 30px;
    height: 0px;
    padding-left: 20px;
}

.hidden-menu {
    opacity: 0;
    position: absolute;
    background-color: white;
    border: 1px solid lightgray;
    padding: 0;
    width: 220px;
    top: 30px;
    right: 0;
    display: none;
}

.hidden-menu a {
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    padding: 0px 10px;
}

.top-nav-div {
    display: flex;
}

.top-nav-div a {
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    padding: 0px 10px;
}

element.style {
    margin-top: 0px;
}

.header-right-div {
    width: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a:hover {
    color: rgb(0, 198, 0);
}

.header-right {
    float: right;
    margin: 25px;
}

select {
    border: none;
    margin: 0px !important;
    padding: 0 !important;
    font-size: 16px;
    font-weight: 500;
}

.profile-img {
    height: 45px;
    width: 45px;
    padding: 0px;
    border-radius: 20px;
}

.img-div, .select-lang {
    height: 100%;
    display: flex;
    align-items: center;
}

.top-nav-hidden-div {
    display: flex;
}

ul {
    list-style: none;
}

.hidden-list, .hidden-notification {
    opacity: 0;
    position: absolute;
    background-color: white;
    padding: 0;
    width: 220px;
    top: 30px;
    right: 0;
    display: none;
    box-shadow: 1px 1px 10px 0.01px rgb(182, 182, 182);
}

.dropdown-top {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification-bell-icon {
    height: 15px;
    padding-top: 10px;
}

.notifications {
    display: flex; 
    padding: 10px;
}

.notification-text {
    padding-left: 10px;
    display: flex; 
    flex-direction: column;
    line-height: 20px;
    font-size: 12px;
}

.notification-text:hover  {
    color: rgb(0, 198, 0);
}

.notification-date {
    font-size: 12px;
    color: gray;
}

.profile-details-dropdown-head {
    border-top: 1px solid lightgray;
}

li {
    margin: 20px;
}

.notification-div {
    padding: 0px 10px;
    height: 100%;
    display: flex;
    align-items: center;
}

.img-notifi {
    height: 20px;
}

.notification-div:hover .hidden-notification {
    transition: 0.2;
    opacity: 1;
    display: inline;
    top: 50px;
    right: 50px;
    border-radius: 5px;
}

.img-div:hover .hidden-list {
    transition: 0.2;
    opacity: 1;
    display: inline;
    top: 50px;
    right: 20px;
    border-radius: 5px;
}

.select-lang:hover  .hidden-list {
    transition: 0.2;
    opacity: 1;
    display: inline;
    top: 50px;
    right: 20px;
    border-radius: 5px;
}

.profile-details-dropdown-head a:hover {
    transition: 0.1s;
    padding-left: 6px;
    color: rgb(0, 198, 0);
}

.profile-details-dropdown-head1{
    
    border-top: 1px solid lightgray;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.see-all-notification {
    font-size: 15px;
    color: rgb(0, 198, 0);
    text-decoration: none;
    
}

ul {
    list-style: none;
}

.hidden-list {
    opacity: 0.5;
    position: absolute;
    background-color: white;
    padding: 0;
    width: 220px;
    top: 60px;
    right: 0;
}

.dropdown-top {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-details-dropdown-head {
    border-top: 1px solid lightgray;
}

.profile-details-dropdown-head a{
    text-decoration: none;
    box-sizing: border-box;
    font-size: 12px;
    color: black;
}
li{
    margin: 20px;
}
.hidden-list:hover{
    opacity: 1;
}
.profile-hide:active .hidden-list{
    opacity: 1;
    display: inline;
}