@media screen and (max-width: 1200px) {
  .dashboard-left-div {
    margin-left: 40px;
  }

  .dashboard-right-div {
    margin-right: 40px;
  }

}
@media screen and (max-width: 1000px) {
    .dashboard-main {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .dashboard-right-div, .dashboard-left-div {
      margin: 0px 80px;
    }

    .top-nav-div {
      display: none;
    }

    .menu-div {
      display: flex;
    }

    .menu-div:hover .hidden-menu {
      display: inline;
      top: 50px;
      left: 0px;
    }
    
  }

@media screen and (max-width: 700px) {
  .profile-completeness-status-div {
    flex-direction: column;
  }

  .dashboard-right-div, .dashboard-left-div {
    margin: 0px;
  }

  .header-div {
    padding: 0px;
    padding-right: 10px;
  }

  .profile-completeness-status {
    padding: 24px 0px;
  }
  
}
@media screen and (max-width: 800px) {
  .footer-div-top, .footer-div-bottom{
    flex-direction: column;
    align-items: center;   
  }

  .footer-left-top, .footer-left-bottom {
    margin-bottom: 20px;
  }

  .dashboard-left-div, .dashboard-right-div {
    margin: 0px 40px;
  }
  
}
@media screen and (max-width: 500px) {
  .status-hidden {
    display: none;
  }

  .dashboard-left-div {
    padding: 0px 12px;
  }

  .dashboard-left-div, .dashboard-right-div {
    margin: 0px;
  }

  .recent-activity-table-status-head, .status-icons {
    display: none;
  }

  .recent-activity-table {
    padding: 0px 30px;
  }

  .right-div-heading-text {
    padding-left: 20px;
  }

  .recent-activity-table-des-head, .recent-activity-table-date-head {
    padding-left: 5px;
  }

}
@media screen and (max-width: 290px) {
  .date-hidden {
    display: none;
  }

  .menu-icon {
    padding-left: 2px;
  }

}